module.exports = {
    domain: 'http://localhost:3001/',
    frontend_domain: 'http://localhost/',
    name: 'lp68-api',
    // root_dir: 'E:\\elearing-ati\\rest-api\\',
    root_dir: '/Users/tuanth/Desktop/LocPhat-lp68/rest-api/',
    env: process.env.NODE_ENV || 'development',
    port: process.env.PORT || 3001,
    // base_url: process.env.BASE_URL || 'http://   api.elearning.dev:3000',
    base_url: process.env.BASE_URL || 'http://localhost:3001',
    pagination: {
        page: 1,
        limit: 12
    },
    db: {
       uri: process.env.MONGODB_URI || 'mongodb://localhost:27017/lp68',
               //uri: process.env.MONGODB_URI || 'mongodb://45.117.82.250:27017/lp68-api',
               // authorizationEnabled: true,
               // auth: {
               //     user: "lp68",
               //     password: "Lp68@2019"
               // }
    },
    cors: ['http://localhost:9001', 'http://192.168.1.17', 'http://localhost:9002'],
    jwt: {
        public_key: 'var/jwt/public.pem',
        private_key: 'var/jwt/private.pem',
        token_expire: '1d',
        hash_algorithm: 'RS256'
    },
    public_url: [
        '/api/v1/checkToken',
        '/api/v1/register',
        '/api/v1/getToken',
    ],
    security: {
        special_character_pattern: /[\/\\()~%:*?<>{}]/g
    }
};
